@media screen and (max-width: 640px) { 

body {
    background-image: url("../images/Background.jpg");
    background-size: contain cover;
    background-position: center;
    /* background-size: 300% 300%; */
   }

.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.crystal {
    border: 1px solid red;
    height: 200px;
    width: 200px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 2s;
    transition: box-shadow 1s; transform 2s;

}


.crystal:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    transform: translate(5px 5px);
    cursor: pointer;
    transition: box-shadow 1s; transform 2s;
    
};


img {
    width 50px
}


}